<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5ea9ea75-04d6-42c2-a837-a2e6e53ea6e7/resourcegroups/HotelAtrWeb20180922101741ResourceGroup/providers/Microsoft.Web/sites/HotelAtrWeb20180922101741</ResourceId>
    <ResourceGroup>HotelAtrWeb20180922101741ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hotelatrweb20180922101741.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hotelatrweb20180922101741.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HotelAtrWeb20180922101741</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HotelAtrWeb20180922101741</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=hotelatrweb.database.windows.net;Initial Catalog=HotelAtr;Persist Security Info=True;User ID=databaseManager;Password=Egor1999" Name="Data Source=hotelatrweb.database.windows.net;Initial Catalog=HotelAtr;Persist Security Info=True;User ID=databaseManager;Password=Egor1999;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Hotel.Atr.Web.Models.ApplicationDbContext, Hotel.Atr.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HotelAtrEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=hotelatrweb.database.windows.net;Initial Catalog=HotelAtr;Persist Security Info=True;User ID=databaseManager;Password=Egor1999;Max Pool Size=1000;Asynchronous Processing=True;Application Name=EntityFramework" Name="Data Source=hotelatrweb.database.windows.net;Initial Catalog=HotelAtr;Persist Security Info=True;User ID=databaseManager;Password=Egor1999;Max Pool Size=1000;Asynchronous Processing=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Hotel.Atr.Web.Models.Model.HotelAtrEntities, Hotel.Atr.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="HotelAtrEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.HotelAtrEntity.csdl|res://*/Models.Model.HotelAtrEntity.ssdl|res://*/Models.Model.HotelAtrEntity.msl;provider=System.Data.SqlClient;provider connection string="Data Source=hotelatrweb.database.windows.net;Initial Catalog=HotelAtr;Persist Security Info=True;User ID=databaseManager;Password=Egor1999;Max Pool Size=1000;Asynchronous Processing=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=hotelatrweb.database.windows.net;Initial Catalog=HotelAtr;Persist Security Info=True;User ID=databaseManager;Password=Egor1999;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>