  <div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                            <li>
                                <a href="#areaRoomSection">ROOMS</a>
                                <ul class="submenu">
                                    <li><a href="@Url.Action("Index","Room")">ROOM LIST</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
