<section class="services-area ptb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center">
                    <h3>our awesome services</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <!-- Nav tabs -->
                <ul role="tablist" class="nav nav-tabs">
                    <li class="active" role="presentation">
                        <a data-toggle="tab" role="tab" aria-controls="spa" href="#spa" aria-expanded="true">
                            <span class="image p-img"><img src="~/Content/img/icon/spa.png" alt=""></span>
                            <span class="image s-img"><img src="~/Content/img/icon/spa-hover.png" alt=""></span>
                            <span class="title">Spa - Beauty &amp; Health</span>
                            <span class="text">Lorem ipsum dolor gtsitrty amet, consectetur adipisicing elit, sed do eiusm tempor incidid</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a data-toggle="tab" role="tab" aria-controls="swim" href="#swim" aria-expanded="true">
                            <span class="image p-img"><img src="~/Content/img/icon/swim.png" alt=""></span>
                            <span class="image s-img"><img src="~/Content/img/icon/swim-hover.png" alt=""></span>
                            <span class="title">Swimming Pool</span>
                            <span class="text">Lorem ipsum dolor rtysittg amet, consectetur adipisicing elit, sed do eiusm tempor incididunt</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a data-toggle="tab" role="tab" aria-controls="restaurant" href="#restaurant" aria-expanded="true">
                            <span class="image p-img"><img src="~/Content/img/icon/restaurent.png" alt=""></span>
                            <span class="image s-img"><img src="~/Content/img/icon/restaurent-hover.png" alt=""></span>
                            <span class="title">Restaurant</span>
                            <span class="text">Lorem ipsum dolor frsit frtgamet, consectetur adipisicing elit, sed do eiusm tempor doloreut</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a data-toggle="tab" role="tab" aria-controls="conference" href="#conference" aria-expanded="true">
                            <span class="image p-img"><img src="~/Content/img/icon/conference.png" alt=""></span>
                            <span class="image s-img"><img src="~/Content/img/icon/conference-hover.png" alt=""></span>
                            <span class="title">Conference</span>
                            <span class="text">Lorem ipsum dolor frsit frtramet, consectetur adipisicing elit, sed do eiusm tempordoloreut</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="tab-content">
                    <div id="spa" class="tab-pane active" role="tabpanel">
                        <img src="~/Content/img/banner/1.jpg" alt="">
                    </div>
                    <div id="swim" class="tab-pane" role="tabpanel">
                        <img src="~/Content/img/banner/2.jpg" alt="">
                    </div>
                    <div id="restaurant" class="tab-pane" role="tabpanel">
                        <img src="~/Content/img/banner/3.jpg" alt="">
                    </div>
                    <div id="conference" class="tab-pane" role="tabpanel">
                        <img src="~/Content/img/banner/1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
